<div class="container bg">

    <div class="row">
        <div class="center col-sm-12">
            <img src="img/burger_pic.jfif">
            <h1>Eat-Da-Burger</h1>
            <p></p>
        </div>
    </div>
    <ul>
        {{#each burgers}}
	        {{#unless devoured}}
	        <li>
	        	{{burger_name}}
	            <button class="devoured" data-devoured="{{devoured}}" data-id="{{id}}">Eat ME!</button>
	        </li>
	        {{/unless}}
        {{/each}}


        {{#each burgers}}
	        {{#if devoured}}
		        <li>
		        	{{burger_name}}
		            <button class="devoured" data-devoured="{{devoured}}" data-id="{{id}}">That was good!</button>
		        </li>
	        {{/if}}
        {{/each}}
    </ul>

    <h2>Add a Burger</h2>
    <form class="create-form">
        <div class="form-group">
            <label for="nom">Burger Name:</label>
            <input type="text" id="nom" name="name">
        </div>
        <button type="submit">Add Burger</button>
    </form>

</div>